<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>sanity</td><td>TC003_EditLead.EditLead(java.lang.String, java.lang.String)[pri:2, instance:testcase1.TC003_EditLead@1536d79]<br/></td></tr>
<tr><td>smoke</td><td>TC002_CreateTestLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcase1.TC002_CreateTestLead@10143d3]<br/></td></tr>
</table>
