<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGGroups</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="abee69">  <td>18/09/23 11:23:59</td>   <td>0</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/09/23 11:23:59</td>   <td>93</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateTestLead.setData()[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/23 11:23:59</td>   <td>93</td> <td>&nbsp;</td><td title="&gt;&gt;TC003_EditLead.setData()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:23:59</td>   <td>93</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:23:59</td>   <td>484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/09/23 11:24:05</td>   <td>6467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcase1.TC002_CreateTestLead@10143d3]">CreateLead</td> 
  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:09</td>   <td>10209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:11</td>   <td>12327</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>18/09/23 11:24:19</td>   <td>20344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead(java.lang.String, java.lang.String, java.lang.String)[pri:1, instance:testcase1.TC002_CreateTestLead@10143d3]">CreateLead</td> 
  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:23</td>   <td>24117</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC002_CreateTestLead@10143d3]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:25</td>   <td>26245</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:25</td>   <td>26263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/23 11:24:32</td>   <td>32948</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_EditLead.EditLead(java.lang.String, java.lang.String)[pri:2, instance:testcase1.TC003_EditLead@1536d79]">EditLead</td> 
  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:43</td>   <td>43949</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:24:45</td>   <td>46070</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.login(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&gt;&gt;login</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="80ebad">  <td>18/09/23 11:24:52</td>   <td>53473</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC003_EditLead.EditLead(java.lang.String, java.lang.String)[pri:2, instance:testcase1.TC003_EditLead@1536d79]">EditLead</td> 
  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:25:05</td>   <td>66598</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
<tr bgcolor="abee69">  <td>18/09/23 11:25:07</td>   <td>68712</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase1.TC003_EditLead@1536d79]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@24555623</td>   <td></td> </tr>
</table>
