<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/08/22 21:07:25</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">CreateLead</td> 
  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/08/22 21:07:54</td>   <td>28655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">CreateLead</td> 
  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>19/08/22 21:08:22</td>   <td>56552</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>19/08/22 21:07:25</td>   <td>-567</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>19/08/22 21:07:24</td>   <td>-1005</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>19/08/22 21:07:49</td>   <td>24324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="7cd7a0">  <td>19/08/22 21:08:17</td>   <td>52208</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.closeApp()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&lt;&lt;closeApp</td> 
<td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/08/22 21:07:25</td>   <td>-573</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateTestLead.setData()[pri:0, instance:testcase1.TC002_CreateTestLead@1a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2779060</td>   <td></td> </tr>
</table>
