<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="687592">  <td>19/08/12 21:27:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead()[pri:1, instance:testcase.TC002_CreateTestLead@1a5fe33]">CreateLead</td> 
  <td>TestNG-test=Test-2@33122364</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/08/12 21:27:27</td>   <td>3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC002_CreateTestLead.CreateLead()[pri:1, instance:testcase.TC002_CreateTestLead@1a5fe33]">CreateLead</td> 
  <td>TestNG-test=Test-2@33122364</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/08/12 21:27:27</td>   <td>-36</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:testcase.TC001_LoginAndLogOut@3108bc]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>TestNG-test=Test-1@24192601</td>   <td></td> </tr>
<tr bgcolor="af90ec">  <td>19/08/12 21:27:26</td>   <td>-975</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:testcase.TC002_CreateTestLead@1a5fe33]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
<tr bgcolor="9a81e8">  <td>19/08/12 21:27:27</td>   <td>-10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC001_LoginAndLogOut.login()[pri:0, instance:testcase.TC001_LoginAndLogOut@3108bc]">login</td> 
  <td>TestNG-test=Test-1@24192601</td>   <td></td> </tr>
<tr bgcolor="687592">  <td>19/08/12 21:27:27</td>   <td>-53</td> <td>&nbsp;</td><td title="&gt;&gt;TC002_CreateTestLead.setData()[pri:0, instance:testcase.TC002_CreateTestLead@1a5fe33]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@25517210</td>   <td></td> </tr>
</table>
